.test {
	height: 60px;
	background-color: #38003C;	
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	padding-top: 2px;
	padding-right: 1px;
	direction:rtl;

}

.card {
	display: inline-block;
	width: 107.5px;
	height: 55px;
	cursor: pointer;
	background-color: #9b42f4;
}

#mostGoals, #matchDay {
	background-color: #38003C; 
	color: white;
}